<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="TemplateMo" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900"
      rel="stylesheet"
    />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">


    <title>Student Dashboard</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="/stylesheets/fontawesome.css" />
    <link rel="stylesheet" href="/stylesheets/templatemo-edu-meeting.css" />
    <link rel="stylesheet" href="/stylesheets/owl.css" />
    <link rel="stylesheet" href="/stylesheets/lightbox.css" />
    <link rel="stylesheet" href="/stylesheets/student_dashboard.css" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>

  <body>
    <section class="upcoming-meetings" id="meetings">
      <div class="" id="container">
        <!-- ***** Header Area Start ***** -->
        <header class="header-area header-sticky">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <nav class="main-nav">
                  <!-- ***** Logo Start ***** -->
                  <a href="index" class="logo">
                    <img src="/images/logo_white.png" alt="JMI" />
                    PLACEMENT CELL
                  </a>
                  <!-- ***** Logo End ***** -->
                  <!-- ***** Menu Start ***** -->
                  <ul class="nav">
                    <li><a href="/test-student-login" class="active">Logout</a></li>
                  </ul>

                  <a class="menu-trigger">
                    <span>Menu</span>
                  </a>
                  <!-- ***** Menu End ***** -->
                </nav>
              </div>
            </div>
          </div>
        </header>
        <!-- ***** Header Area End ***** -->

        <form class="form-signin" id="profile">
          <img src="/images/user.png" alt="" />
          <h2> <%=data.firstName %> <%=data.lastName %></h2>
          <h3><span>Course:</span> <%=data.course %></h3>
          <br />
          <h3><span>SPI:</span> <%=data.spi %></h3>
          <br />
          <h3><span>student ID:</span> <%=data.studentID %></h3>
          <br />
          <h3><span>Roll No.:</span> <%=data.rollNo %></h3>
          <br />
          <h3><span>Mobile No.:</span> <%=data.mobileNo %></h3>
          <br />
          <h3><span>E-Mail:</span> <%=data.email_address %></h3>
        </form>

        <form class="form-signin" id="tableavailable">
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Company</th>
                <th>Est. LPA</th>
                <th>Location</th>
                <th>Type</th>
                <th>Status</th>
              </tr>
            </thead>

            <tbody>
              <% for(var i=0; i<jobData.length; i++) {%>
                <tr>
                  <td>
                    <!-- <tr class="disabled"> -->
                    <tr>
                      <td><%=jobData[i].JobID %></td>
                      <td><%=jobData[i].JobTitle %></td>
                      <td><%=jobData[i].companyName %></td>
                      <td><%=jobData[i].EstLPA %></td>
                      <td><%=jobData[i].Location %></td>
                      <td><%=jobData[i].JobType %></td>
                      <td>
                        <button type="submit">
                          <div class="main-button-red">
                            <div class="scroll-to-section">
                              <a>Apply</a>
                            </div>
                          </div>
                        </button>
                      </td>
                    </tr>
                  </td>
                </tr>
             <% } %>
            </tbody>
          </table>
        </form>
      </div>
    </section>
  </body>
</html>
